/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Paprika&display=swap');



/* CSS Variables */
:root {
    --primary-font: "Noto", sans-serif;
    --secondary-font: "Paprika", cursive;
    --background-color: #fbf5d8; /*pale yellow */
    --primary-color: #668755; /* logo green */
    --secondary-color: #97b76a; /* light green */
    --tertiary-color: #4a3b3a; /* brown */
    --highlight-color: #aabfda; /* light blue */
    --highlight-color-light: #537c74; /* darker green */ 
}

/* Body Section */
body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--tertiary-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    background-color: var(--highlight-color);
}
/* Footer / Contact */
#contact {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding-bottom: 3rem;
}