/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Paprika&display=swap');



/* CSS Variables */
:root {
    --primary-font: "Noto", sans-serif;
    --secondary-font: "Paprika", cursive;
    --background-color: #fbf5d8; /*pale yellow */
    --primary-color: #668755; /* logo green */
    --secondary-color: #97b76a; /* light green */
    --tertiary-color: #4a3b3a; /* brown */
    --highlight-color: #aabfda; /* light blue */
    --highlight-color-light: #537c74; /* darker green */ 
}

/* Body Section */
body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--tertiary-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

/* Hero Section */
.hero {
    background: /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */url('../images/hero/inndex-hero-image.jpg') no-repeat center center;
    background-size: cover;
    height: 30vh;
    color: #FFEBD4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Navbar */
.navbar {
    background-color: var(--highlight-color);
    color: var(--tertiary-color);
}
/* Footer / Contact */
.footer {
    background-color: var(--highlight-color);
    color: var(--tertiary-color);
}
.footer i {
    color: var(--tertiary-color);
}